@import '../app'


.top_container
    position: relative
    width: 100%
    height: 434px
    background: $main-back
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)

.bottom_container
    position: relative
    width: 100%
    height: 100%
    background: #090C10

.list
    display: grid
    grid-template-columns: 1fr 1fr

.row
    display: grid
    grid-template-columns: 164px 1fr
    grid-column-gap: 32px
    margin-bottom: 32px
    span
        color: red
        font-size: $txt-14px
        text-decoration-line: underline
        font-family: 'Russo One', sans-serif

.works_list
    display: grid
    grid-row-gap: 16px
    width: 100%
    